@model FileUploadModel
@{
    ViewData["Title"] = "Index";
}
@{
    var url = ($"{Context.Request.Scheme}://{Context.Request.Host}/file/{Model.Id}");
}


@if (!string.IsNullOrWhiteSpace(Model.Markdown))
{

    <div class="row">
        <div class="col-md-4">
            <br />
            <br />
            <h3>
                Download Link
            </h3>
            <hr />
            <br />
            <p class="text-center">
                <a href="@url">
                    <h5 class="text-center">
                        @url
                    </h5>
                </a>
            </p>
            <br />

            <a href="@url" class="btn btn-primary btn-block">
                <i class="fa fa-download"></i>
                Download
            </a>
        </div>

        <div class="col-md-8">
            <br />
            <br />
            <h3>
                Description
            </h3>
            <hr />
            <markdown normalize-whitespace="true" markdown="@Model.Markdown" />

        </div>

    </div>
}
else
{
    <br />
    <br />
    <h3> Download Link</h3>
    <hr />


    <a href="@url" class="text-center">
        @url
    </a>

    <br />
    <br />
    <a href="@url" class="btn btn-primary btn-block">
        <i class="fa fa-download"></i>
        Download
    </a>
}
